* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 515px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #E25544;
}

.header .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
}

.header__name {
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
}

.header__specialization {
    display: block;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.header__description {
    max-width: 351px;
    font-size: 20px;
    color: #fff;
    line-height: 150%;
}

.header__photo {
    margin-bottom: 30px;
}

main>section>.container {
    display: flex;
    flex-direction: column;
    padding: 24px 15px;
    border-top: 1px solid #DEE2ED;
}

.contacts .container {
    padding: 15px;
    border-top: none;
}

.contacts__list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts__list-item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts__list-item a {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #485268;
    text-align: center;
}

.contacts__list-item svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.contacts__list-item:hover svg {
    fill: #E25544;
}

.title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #E25544;
    margin-bottom: 30px;
}

.list__item {
    border-left: 1px dashed #DEE2ED;
    padding-left: 8px;
}

.list__item:not(:last-child) {
    margin-bottom: 24px;
}

.list__item h3 {
    font-size: 24px;
    font-weight: 500;
    color: #485268;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.list__item p {
    font-size: 20px;
    font-weight: 400;
    color: #485268;
    line-height: 1.5;
    text-transform: capitalize;
}

.list__item p:not(:last-child) {
    margin-bottom: 8px;
}

.list__item b {
    font-weight: 500;
}

.small-list__item {
    font-size: 20px;
    color: #485268;
    border-left: 1px dashed #DEE2ED;
    padding-left: 8px
}

.small-list__item:not(:last-child) {
    padding-bottom: 8px;
}

@media only screen and (min-width: 595px) {
    .container {
        padding: 0;
    }

    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header__name {
        font-size: 30px;
        text-align: left;
    }

    .header__specialization {
        font-size: 12px;
        text-align: left;
    }

    .header__description {
        max-width: 351px;
        font-size: 10px;
    }

    .header__photo {
        margin-bottom: 0;
    }

    .contacts .container {
        padding: 24px 0;
    }

    .contacts__list {
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts__list-item:not(:last-child) {
        margin-bottom: 0;
    }

    .contacts__list-item a {
        font-size: 10px;
    }

    .contacts__list-item svg {
        width: 10px;
        height: 10px;
    }

    main>section>.container {
        flex-direction: row;
        padding: 24px 0;
    }

    .title {
        width: 155px;
        font-size: 20px;
        text-align: left;
        margin-bottom: 0;
    }

    .list {
        max-width: 360px;
    }

    .list__item h3 {
        font-size: 12px;
    }

    .list__item p {
        font-size: 10px;
    }

    .small-list {
        max-width: 360px;
        width: 100%;
        max-height: 65px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .small-list__item {
        width: 50%;
        font-size: 10px;
    }
}