* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 515px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 32px;
    padding-bottom: 24px;
    background-color: #E25544;
}

.header .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.header__name {
    display: block;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
}

.header__specialization {
    display: block;
    font-size: 12px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.header__description {
    max-width: 351px;
    font-size: 10px;
    color: #fff;
    line-height: 150%;
}

.header__photo {
    margin-bottom: 30px;
}

@media only screen and (min-width: 595px) {
    .container {
        padding: 0;
    }

    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header__name {
        text-align: left;
    }

    .header__specialization {
        text-align: left;
    }

    .header__photo {
        margin-bottom: 0;
    }
}